<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>
  <p>
    <strong>Developer:</strong>
    <%= project.user.name %> //


  </p>
   <p>
    <strong>User are Created:</strong>
   <%= project.user&.name %> //

  </p>

</div>
