<p style="color: green"><%= notice %></p>

<%= render @bug %>

<div>
  <%= link_to "Edit this bug", edit_bug_path(@bug) %> |
  <%= link_to "Back to bugs", bugs_path %>
  
  <%= button_to "Destroy this bug", @bug, method: :delete %>
</div>

<div>
<div>
  <h3>Reports of This Bug </h3>
  <% if @bug.reports.any? %>
  <% @bug.reports.each do |report| %>
  <li>
    <%=  link_to report.report_name,report %>
  </li>
  <li>
    <%= report.report_description.truncate(10) %>
  </li>
  <% end %>
 <% else%>
 <h6>NO report yet </h6>
</div>  
<% end %>


</div>
<% if current_user.role == "QA" %>
<%= link_to "View Reports ",reports_path%>
<br>
<%= link_to "Create  Reports ",new_report_path(bug_id: @bug.id) %>
<div>
  <% end %>



  <% if current_user.role == "developer" %>
  
  <% if policy(@bug).assign? %>
    <%= button_to "Assign to Me", assign_bug_path(@bug), method: :patch, data: { confirm: "Are you sure you want to take this bug?" } %>
  <% end %>
  
  <% if policy(@bug).resolve? %>
    <%= button_to "Mark as Resolved", resolve_bug_path(@bug), method: :patch %>
  <% end %>
  <% else %>
  <p>No show button</p>
  <% end %>


</div>  

