<%= form_with(model: @report)do |form| %>


<% if report.errors.any? %>
<div style="color: brown;">
   <h2>
      <%= pluralize(report.errors.count,"error") %>
      prohibited this project from being saved
   </h2>
       <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>


</div>

  <% end %>

  <% if @bug %>
    <div style="background-color: #f0f0f0; padding: 10px; margin-bottom: 15px;">
      <strong>Reporting Bug:</strong> <%= @bug.name || @bug.description%>
    </div>
    <%= form.hidden_field :bug_id, value: @bug.id %>
  <% else %>
    <div>
      <%= form.label :bug_id, "Select Bug", style: "display: block" %>
      <%= form.collection_select :bug_id, Bug.all, :id, :name, 
          { prompt: "Choose a bug..." }, { required: true } %>
    </div>
    <br>
  <% end %>

 <div>
    <%= form.label :Reprt_Name,style: "display: block" %>
    <%= form.text_field :report_name %>
 </div>
 <br>
 <div>
    <%= form.label :Report_Description,style:"display: block" %>
    <%= form.text_area :report_description %>
 </div>

 <br>
 <div>
    <%=  form.submit %>
 </div>

 <%end%>
 <%= link_to "Back to Report",reports_path %>