<h1>Reports</h1>


<%= form_with url: reports_path, method: :get ,data: {turbo_frame: "report_list"} do |f| %>
<div class="filters">
  <%= f.text_field :search , value: params[:find], placeholder: "Search Repor ........." %>

  <%= f.submit "Filter" %>
  <%= link_to "Reset", reports_path,data: {turbo_frame: "report_list"} %>




</div>
<%end%>
<div>

<% @reports.each do |report| %>
<h1>
    
    
    <%= report.report_name %> 
</h1>
<p>
    <%= report.report_description %> 

    
    
</p>
<%= link_to "Show This Report",report %>


</div>
<% end %>
<div>
    <%= link_to "Create New Report",new_report_path %>
</div>



<div>
<h1>View Projects</h1>
<%= link_to "View All Projects",projects_path %>
</div>
<div>
<h1>View Bugs</h1>
<%= link_to "View All Projects",bugs_path %>
</div>



